
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

body {
  background-color: #d6acee;
}

/*components*/

.title {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 25px;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}

.game-wrapper {
  display: flex;
}

.sidebar {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto;
  max-width: 300px;
}

.chooser {
  border-radius: 8px;
}

.statistic {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.playground {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 700px;
}

.big-playground {
  width: 900px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  background-image: url(../pics/logo1.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  height: 150px;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 150px;
}

.card-for-6x6 {
  height: 100px;
  width: 100px;
  border-radius: 8px;
}

.turned {
  transform: rotateY(180deg);
}

.side {
  backface-visibility: hidden;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
}

.front {
  transform: rotateY(180deg);
  border-radius: 8px;
}

.end-game-popup {
  background-color: #faf1fc;
  border: 1px solid #ddd;
  bottom: 0;
  box-shadow: 0 0 15px #ddd;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
  box-sizing: border-box;
  border-radius: 8px;
  height: 240px;
  left: 0;
  margin: auto;
  padding-top: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0px;
  width: 300px;
}

.game-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.final-text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.new-game-btn:hover {
  box-shadow: 0 0 8px #d3d3d3;
}

.new-game-btn:active {
  box-shadow: none;
}
